</main>

 <script>
    function copyName() {
      const text = document.getElementById("bandName").innerText;
      navigator.clipboard.writeText(text);
      alert("Band name copied!");
    }
  </script>

</body>
</html>